/* Add this to your CSS file or style tag */
.logo a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Inherit the text color from the parent */
}

.logo a:hover {
  text-decoration: none;
  /* Remove underline on hover */
  /* color: inherit;  */
}

.user_dropdown {
  position: relative;
  width: 75px;
  cursor: pointer;
  font-weight: 200;
  background: none;

  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dropdown-menu.show {
  background: #F9D9BE;
  border-radius: 0%;
}

.dropdown-toggle {
  text-decoration: none;
}

.dropdown-toggle.show {
  text-decoration: none;
}

ul.header_user_info a .dropdown-item {
  color: black;
}

/*--------- edit profile */
body {
  margin: 0;
  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}

.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}

.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  margin-top: 10px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  /* margin-bottom: 1rem; */
}

/* order placed page design */
.order-placed-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.thank-you-heading {
  color: #28a745;
  /* Green color, you can customize */
}

.shop-more-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  /* Blue color, you can customize */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.mask1 {

  position: relative;
  display: inline-block;
}


.discount-label {
  position: absolute;
  top: 10px;
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1;
}